<h1 class="mat-h1">Sample Page</h1>

<h2 class="mat-h2">Tables</h2>
<table class="mat-table">
  <tr class="mat-header-row">
    <th class="mat-header-cell">Header 1</th>
    <th class="mat-header-cell">Header 2</th>
    <th class="mat-header-cell">Header 3</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Data 1</td>
    <td class="mat-cell">Data 2</td>
    <td class="mat-cell">Data 3</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Data 4</td>
    <td class="mat-cell">Data 5</td>
    <td class="mat-cell">Data 6</td>
  </tr>
</table>
{{msg}}
<a routerLink="/product-list">Product list</a>
<app-create-product (msgevent)="handleMessage()">
  create a product
</app-create-product>

<h2 class="mat-h2">Lists</h2>
<ul class="mat-list">
  <li class="mat-list-item">Item 1</li>
  <li class="mat-list-item">Item 2</li>
  <li class="mat-list-item">Item 3</li>
</ul>

<h2 class="mat-h2">Buttons</h2>
<button class="mat-button">Click Me</button>

<h2 class="mat-h2">Paragraphs</h2>
<p class="mat-body">This is a sample paragraph.</p>

<h2 class="mat-h2">Links</h2>
<a href="https://www.example.com" class="mat-link">Visit Example.com</a>

<h2 class="mat-h2">Text</h2>
<p class="mat-body">Some text here.</p>

<h2 class="mat-h2">Content</h2>
<div class="mat-content">
  <h3 class="mat-subheading">Title</h3>
  <p class="mat-body">Some content goes here.</p>
</div>


