<h2>Cart Items</h2>

<a routerLink="/shipping" >Shipping Prices</a>

<div mat- class="cart-item" *ngFor="let item of items">
  <span>{{item.name}}</span>
  <span>{{item.unitPrice | currency}}</span>
</div>

<form [formGroup]="checkoutForm" ngSubmit="onSubmit()">

    <div formGroupName="name">
      <label for="name"></label>
      <input id="name" type="text" formControlName="name" placeholder="name" />
    </div>
    <div formGroupName="address">
      <label for="address"></label>
      <input id="address" type="text" formControlName="address" placeholder="Address" />
    </div>
      <button mat-raised-button type="submit" class="button">Checkout</button>
      <button class="mat-button" routerLink="/product-list">Add more items</button>
</form>
