<h2>Create Product</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label><mat-form-field>
    <input matInput type="text" id="name" formControlName="name" required>
    </mat-form-field>
</div>

  <div>
    <label for="UnitPrice">UnitPrice:</label>
    <mat-form-field>
        <input matInput type="number" id="UnitPrice" formControlName="UnitPrice" required>
    </mat-form-field>
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" required></textarea>
  </div>

  <button type="submit" [disabled]="productForm.invalid">Create</button>
</form>
