<a [routerLink]="['/']">
  <h1>My Shopping</h1>
</a>

<a routerLink="/order-list" class="button fancy-button"><i class="material-icons">My Orders</i></a>

<a routerLink="/product-list" class="button fancy-button"><i class="material-icons">Products</i></a>
<a routerLink="/cart" class="button fancy-button"><i class="material-icons">Customers</i></a>
<a routerLink="/cart" class="button fancy-button"><i class="material-icons">Users</i></a>
<a routerLink="/cart" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>
