<span>Id</span>&nbsp;<span>{{this.order.id}}</span>
<br />
<span>Customer Id</span>&nbsp;<span>{{this.order.customerId}}</span>
<br />
<span>Employee Id</span>&nbsp;<span>{{this.order.employeeId}}</span>
<br />
<span>Order Date</span>&nbsp;<span>{{this.order.orderDate}}</span>
<br />
<span>Required Date</span>&nbsp;<span>{{this.order.requiredDate}}</span>
<br />
<span>Shipped Date</span>&nbsp;<span>{{this.order.shippedDate}}</span>
<br />
<span>Ship Via</span>&nbsp;<span>{{this.order.shipVia}}</span>
<br />
<span>Freight</span>&nbsp;<span>{{this.order.freight}}</span>
<br />
<span>Ship Name</span>&nbsp;<span>{{this.order.shipName}}</span>
<br />
<span>Ship Address</span>&nbsp;<span>{{this.order.shipAddress}}</span>
<br />
<span>Ship City</span>&nbsp;<span>{{this.order.shipCity}}</span>
<br />
<span>Ship Region</span>&nbsp;<span>{{this.order.shipRegion}}</span>
<br />
<span>Ship Postal Code</span>&nbsp;<span>{{this.order.shipPostalCode}}</span>
<br />
<span>Ship Country</span>&nbsp;<span>{{this.order.shipCountry}}</span>
<br />

